{% extends "base.html" %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Programa&ccedil;&atilde;o - Lightning Talks</h3>
		</div>

        <!--Breadcrumbs-->
        <div id="breadcrumbs">
            <a href='/programacao'>Veja a programação resumida</a>
        </div>

        <div id="content_in">

			<table id="programacao">
                <tr>
                    <td>&nbsp;</td>
                    <th>Lightning Talks - manhã</th>
                </tr>
                <tr>
                    <td>09h30</td>
                    <td colspan="4"><strong>O que você está esperando para mudar?</strong><br/>Jonas Abreu</td>
                </tr>
                <tr>
                    <td>09h45</td>
                    <td colspan="4"><strong>The dark side of the Ruby</strong><br/>Ricardo Panaggio</td>
                </tr>
                <tr>
                    <td>10h00</td>
                    <td colspan="4"><strong>Afinal, escrever testes atrasam o desenvolvimento?</strong><br/>Alberto Leal</td>
                </tr>
                <tr>
                    <td>10h15</td>
                    <td colspan="4"><strong>Introdução ao Clojure</strong><br/>José Flexa</td>
                </tr>
                <tr>
                    <td>10h30</td>
                    <td colspan="4"><strong>Ágil vs. Lean Startup</strong><br/>Alexandre Freire</td>
                </tr>
                <tr>
                    <td>10h45</td>
                    <td colspan="4"><strong>Porque diabos eu usaria um banco de dados orientado a grafos?</strong><br/>Eder Ignatowicz</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <th>Lightning Talks - Tarde</th>
                </tr>
                <tr>
                    <td>13h30</td>
                    <td colspan="4"><strong>Quadro de tarefas: além do TO DO, DOING e DONE</strong><br/>Gildemar Henrique Borges</td>
                </tr>
                <tr>
                    <td>13h45</td>
                    <td colspan="4"><strong>Javascript: o lado bizarro</strong><br/>Ricardo Panaggio</td>
                </tr>
                <tr>
                    <td>14h00</td>
                    <td colspan="4"><strong>Quão específica deve ser uma User Story (bem sucedida) na gestão Ágil de Requisitos?</strong><br/>Daniel Lima Barros</td>
                </tr>
                <tr>
                    <td>14h15</td>
                    <td colspan="4"><strong>Testes mais legíveis com Specs 2</strong><br/>Juliano Alves</td>
                </tr>
                <tr>
                    <td>14h30</td>
                    <td colspan="4"><strong>Liderança Ágil</strong><br/>Rildo Santos</td>
                </tr>
                <tr>
                    <td>14h45</td>
                    <td colspan="4"><strong>Você não precisa de um banco de dados!</strong><br/>Juliano Alves</td>
                </tr>
                <tr>
                    <td>17h00</td>
                    <td colspan="4"><strong>Como implementar um Web Chat em 10 minutos</strong><br/>Ricardo Panaggio</td>
                </tr>
                <tr>
                    <td>17h15</td>
                    <td colspan="4"><strong>Relacionamento com o cliente: Você está fazendo isso certo?</strong><br/>Rafael Valério</td>
                </tr>
                <tr>
                    <td>17h30</td>
                    <td colspan="4"><strong>Você não tem um produto</strong><br/>Tiago da Costa</td>
                </tr>
                <tr>
                    <td>17h45</td>
                    <td colspan="4"><strong>Testes Caipiras Ágeis</strong><br/>Ibrahim Cesar</td>
                </tr>
			</table>
        </div>

{% endblock %}
