{% extends "base.html" %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Propostas já submetidas</h3>
		</div>

		<!--Content left part-->
		<div id="content_in">
			
            <p>O conteúdo do <strong>Caipira &Aacute;gil</strong> é feito pela própria comunidade e por isso é um sucesso. Conseguimos reunir o que há de melhor na região em conhecimentos sobre métodos ágeis, engenharia de software, ferramentas, etc. Até o momento temos as seguintes propostas de lightning talks submetidas. Cada uma dessas propostas será avaliada e as que forem escolhidas farão parte da programação oficial do evento.</p>
            <p>Gostou? Quer mandar a sua proposta também? <a href="/submissao">Envie sua proposta aqui!</a></p>

            <div id="blog_items"> 
 
                {% for palestra in object_list %}
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">{{ palestra.titulo|title }}</h3> 
                        <div class="storycontent">
                            <p><small>{{ palestra.palestrante }}</small></p>
                            <p>{{ palestra.descricao|linebreaksbr }}</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>
                {% endfor %}

            </div>

        </div>

{% endblock %}
