{% extends "base.html" %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Submiss&atilde;o de Lightning Talks</h3>
		</div>

		<!--Content left part-->
		<div id="content_in">
            <h2>Submiss&atilde;o Encerrada!</h2>

            <p>O per&iacute;odo de recebimento de propostas de Lightning Talks para o Caipira &Aacute;gil 
            j&aacute; encerrou. Estamos analisando as diversas propostas e em breve divulgaremos as escolhidas.</p>

{% endblock %}
