<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Caipira Ágil - 18/08/2012</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   

	<!--CSS Main-->
	<link rel="stylesheet" href="{{ STATIC_URL }}styles.css" type="text/css" />

	<!--CSS Color Scheme-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bamboo.css" type="text/css" media="screen" />

	<!--Scripts-->
	<!--JQuery-->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.4.2.min.js"></script>

	<!--Typeface scripts-->
	<script type="text/javascript" src="{{ STATIC_URL }}js/fonts/typeface-0.13.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/fonts/contra_regular.typeface.js"></script>

	<!--Navigation scripts-->		 
	<script type="text/javascript" src="{{ STATIC_URL }}js/superfish/superfish.js"></script>
	<script type="text/javascript">
			jQuery(function(){
			jQuery('ul.sf-menu').superfish();
			});
	</script>

    <!--Easyslider-->   
    <script type="text/javascript" src="{{ STATIC_URL }}js/sliders/easyslider/easySlider1.7.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){   
            $("#slider").easySlider({
                auto: true,
                continuous: true 
            });
        }); 
    </script>
	
	<!--PNG Fix-->
	<!--[if lt IE 7]>
	<script src="{{ STATIC_URL }}js/ie6pngfix/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>
	DD_belatedPNG.fix('.logo, #header, #footer, #content, .zoom a span, .sliderimg, #prevBtn a, #nextBtn a');
	</script>
	<![endif]-->
	<!--End PNG Fix-->
</head>

<body>

<div id="main_top">
</div>

<div id="main">

	<!--Header-->
	<div id="header">
		<a href="/"><img src="{{ STATIC_URL }}images/logo_caipira.png" class="logo" alt="" /></a>

			<!--Navigation-->
			<div id="nav">
			    <ul class="sf-menu">
			    	<li{% if page == 'index' %} class="current_page_item"{% endif %}><a href="/">Principal</a></li>
			    	<li{% if page == 'inscricoes' %} class="current_page_item"{% endif %}><a href="/inscricoes">Inscri&ccedil;&otilde;es</a></li>
			    	<li{% if page == 'oevento' %} class="current_page_item"{% endif %}><a href="/oevento">O evento</a></li>
			    	<li{% if page == 'submissao' %} class="current_page_item"{% endif %}><a href="/submissao">Submiss&atilde;o de Talks</a>
			    	<li{% if page == 'edicao2011' %} class="current_page_item"{% endif %}><a href="/edicao2011">Edi&ccedil;&atilde;o 2011</a></li>
			    	<li{% if page == 'localizacao' %} class="current_page_item"{% endif %}><a href="/localizacao">Local</a></li>
			    	<li{% if page == 'programacao' %} class="current_page_item"{% endif %}><a href="/programacao">Programa&ccedil;&atilde;o</a>
			    	<li{% if page == 'organizadores' %} class="current_page_item"{% endif %}><a href="/organizadores">Organiza&ccedil;&atilde;o</a>
                </ul>

				<!--Menu corners-->
				<img src="{{ STATIC_URL }}images/nav_tl.gif" class="nav_tl" alt="" />
				<img src="{{ STATIC_URL }}images/nav_tr.gif" class="nav_tr" alt="" />
				<img src="{{ STATIC_URL }}images/nav_bl.gif" class="nav_bl" alt="" />
				<img src="{{ STATIC_URL }}images/nav_br.gif" class="nav_br" alt="" />

			</div>
			
	</div>
					
	
	<!--Content-->
	<div id="content">
        {% block content %}
        {% endblock %}
	</div>

	<!--Footer-->
	<div id="footer">
		
		<div id="copyright">
			&copy; 2012 Caipira Ágil
		</div>
		
		<div id="powered">
			Desenhos e logotipo por <a href="mailto:padilhaum@gmail.com">Thiago F. Padilha</a>
		</div>
	</div>

</div>
{% comment %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22495067-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endcomment %}
</body>
</html>
