{% extends "base.html" %}

{% block content %}
		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Edi&ccedil;&atilde;o 2011</h3>
		</div>
	
		<!--Content left part-->
		<div id="content_left">
			<p>A primeira edição do <strong>Caipira Ágil</strong> foi um sucesso. No dia 23/07, mais de 170 pessoas se reuniram para uma experiência diferente. O <strong>Caipira Ágil</strong> proporcionou grandes momentos para aprendizado sobre os princípios, métodos ágeis e tecnologia.</p>
			<p>O evento contou com mais de 14 Lightning Talks e 5 sessões de Workshops. Open Spaces e Dojos deram uma dinâmica incrível ao evento.</p>
        </div>

        <!--Content right part-->
		<div id="content_right">&nbsp;</div>

		<!--Clearboth for IE-->
		<div id="clearboth"></div>


{% endblock %}
