{% extends "base.html" %}

{% block content %}
	    <!--Slider-->
        <div id="showcase">
            <div id="slider">
                <ul>    
                
                    <li>
                        <img src="{{ STATIC_URL }}images/content/bamboo.png" class="sliderimg" alt="" />
                        <div class="slide">
                            <h3 class="myclass typeface-js"><a href="">Inscri&ccedil;&otilde;es!</a></h3>
                            <span  class="myclass typeface-js">
                            As lightning talks do Caipira &Aacute;gil j&aacute; foram escolhidas! Confira <a href="/talks"><strong>aqui</strong></a>.
                            </span>
                        </div>
                    </li>
 
                    <li>
                        <img src="{{ STATIC_URL }}images/content/bamboo.png" class="sliderimg" alt="" />
                        <div class="slide">
                            <h3 class="myclass typeface-js"><a href="">Agende-se!</a></h3>
                            <span  class="myclass typeface-js">
                            O Caipira &Aacute;gil 2012 j&aacute; tem data definida!<br/>Anote em suas agendas: <strong>18/08/2012</strong>.
                            </span>
                        </div>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}images/content/bamboo.png" class="sliderimg" alt="" />
                        <div class="slide">
                            <h3 class="myclass typeface-js"><a href="">Inscri&ccedil;&otilde;es!</a></h3>
                            <span  class="myclass typeface-js">
                            As inscri&ccedil;&otilde;es para o Caipira &Aacute;gil 2012 j&aacute; est&atilde;o abertas!!! <a href="/inscricoes"><strong>Inscreva-se j&aacute;!</strong></a>.
                            </span>
                        </div>
                    </li>
 
                    <li>
                        <img src="{{ STATIC_URL }}images/content/bamboo.png" class="sliderimg" alt="" />
                        <div class="slide">
                            <h3 class="myclass typeface-js"><a href="/programacao">Veja a Programa&ccedil;&atilde;o!</a></h3>
                            <span  class="myclass typeface-js">
                            O Caipira &Aacute;gil 2012 j&aacute; tem grade preliminar de atividades definida! <a href="/programacao"><strong>Confira!</strong></a>.
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

		<!--Content left part-->
		<div id="content_left">

            <p><strong>Dia 18/08</strong>, você está convidado para mais uma edição do <strong>Caipira Ágil</strong>, o maior evento sobre princípios e métodos e ágeis da região de Campinas.</p>

            <p>Inspirado pelo <a href="http://encontroagil.com.br/" target="_blank">Encontro Ágil</a>, o <strong>Caipira Ágil</strong> nasceu para ser uma forma de troca de experiências e conhecimento entre estudantes e profissionais, praticantes ou não de Agilidade.</p>

            <p>O evento tem seu foco na troca de experiência e conhecimento de forma ativa, mão na massa. Composto por Workshops, Open Spaces, Coding Dojos e Lightning Talks o <strong>Caipira Ágil</strong> é muito mais do que um evento com apresentações. É um momento de união e atuação conjunta entre seus participantes, proporcionando uma ótima oportunidade de aprendizado.</p>

            <p>Acompanhe o site, o nosso <a href="http://twitter.com/caipiraagil">Twitter</a> e o nosso <a href="http://www.facebook.com/profile.php?id=100003559383538">Facebook</a> para saber as novidades!</p>

		    <p>Em sua segunda edição, o <strong>Caipira Ágil</strong> volta maior e melhor.</p>

    		<p>Esperando superar o sucesso da <a href="">primeira edição</a> o <strong>Caipira Ágil</strong> traz novidades:

    		<p>Mais Dojos e mais linguagens. Mais Workshops e temas para botar a mão na massa.</p>
		
            <h3>Quer patrocinar o evento, entre em <a href="mailto:contato@caipiraagil.com">contato</a> conosco.</h3>

        </div>

        <!--Content right part-->
		<div id="content_right">

            <a href="http://www.twitter.com/caipiraagil"><img src="{{ STATIC_URL }}images/fazendeiro_twitter.png" width="100%" title="Segue nóis no @caipiraagil"/></a><br/>&nbsp;

            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
                new TWTR.Widget({
                  version: 2,
                  type: 'search',
                  search: 'caipiraAgil',
                  interval: 5000,
                  title: 'sobre',
                  subject: 'Caipira Ágil',
                  width: 'auto',
                  height: 350,
                  theme: {
                shell: {
              background: '#bdd397',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#1985b5'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            toptweets: true,
            behavior: 'default'
          }
        }).render().start();
            </script>

        </div>

		<!--Clearboth for IE-->
		<div id="clearboth"></div>
{% endblock %}
