{% extends "base.html" %}

{% block content %}
		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Inscri&ccedil;&otilde;es</h3>
		</div>
	
		<!--Content left part-->
		<div id="content_left">
			<h2>As inscri&ccedil;&otilde;es j&aacute; est&atilde;o abertas!</h2>
			<p>Este ano, o <strong>Caipira &Aacute;gil</strong> acontecer&aacute; na mesma semana da <a href="http://www.secomp.com.br">Semana Acad&ecirc;mica de Computa&ccedil;&atilde;o</a> da UNICAMP. Por este motivo, estamos utilizando o mesmo sistema de inscri&ccedil;&otilde;es. Ao se inscrever, você poder&aacute; escolher se inscrever somente no <strong>Caipira &Aacute;gil</strong> ou em todos os eventos da semana.</p>

			<p>O valor continua o mesmo do ano passado  (<strong><span style="color: #ff0000;">R$ 30,00</span></strong>) o que d&aacute; o direito a participar de todas as <a href="/programacao">atividades</a> do <strong>Caipira &Aacute;gil</strong> al&eacute;m dos coffee-breaks e almo&ccedil;o.</p>

			<h2><strong><a href="http://secomp.com.br/painel">Inscreva-se aqui!</a></strong></h2>
        </div>

        <!--Content right part-->
		<div id="content_right">
			<center><img src="{{ STATIC_URL }}images/galinha-correndo.png" width="70%"/></center>
		</div>

		<!--Clearboth for IE-->
		<div id="clearboth"></div>


{% endblock %}
