{% extends "base.html" %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Localiza&ccedil;&atilde;o</h3>
		</div>
		
		<!--Content left part-->
		<div id="content_left">
            <p><strong>Universidade Estadual de Campinas</strong><br/><strong>Faculdade de Engenharia Elétrica e de Computação</strong></p>
            <p>Avenida Albert Einstein, 400<br/>
            Cidade Universitária Zeferino Vaz<br/>
            Distrito de Barão Geraldo<br/>
            Campinas-SP</p>

            <iframe width="520" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=pt-BR&amp;t=h&amp;msa=0&amp;msid=200905754393473990386.0004a22093c85b9d6af24&amp;ll=-22.8215,-47.065526&amp;spn=0.003461,0.005579&amp;z=17&amp;output=embed"></iframe><br />
            
            

        </div>

        <!--Content right part-->
		<div id="content_right">
            <p>Localização do <strong>Caipira Ágil</strong> em um mapa maior <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=pt-BR&amp;t=h&amp;msa=0&amp;msid=200905754393473990386.0004a22093c85b9d6af24&amp;ll=-22.8215,-47.065526&amp;spn=0.003461,0.005579&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">aqui</a>.</p>
            <center><img src="{{ STATIC_URL }}images/fazendeiro-parado.png" width="70%"/></center>
        </div>

		<!--Clearboth for IE-->
		<div id="clearboth"></div>

{% endblock %}
