{% extends "base.html" %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">O Evento</h3>
		</div>
	
		<div id="articles_series">
			<ul>
				<li>
					<h3 class="myclass typeface-js">Lightning Talks</h3>
                    Pequenas palestras de 10 minutos escolhidas e apresentadas pelos próprios participantes do evento. Em breve mais informações sobre como submeter a sua lightning.
				</li>
				<li>
					<h3 class="myclass typeface-js">Open-Spaces</h3>
                    Um evento dentro do evento. Durante todo o dia uma sala estará disponível para que os participantes possam sugerir e discutir qualquer assunto que estiverem interessados.
				</li>
				<li>
					<h3 class="myclass typeface-js">Coding Dojos</h3>
                    Boas práticas de programação e metodologias ágeis em desenvolvimento de software colocadas na prática em um ambiente descontraído e divertido.
				</li>
				<li>
					<h3 class="myclass typeface-js">Workshops</h3>
                    Melhor do que apenas assistir uma palestra, é interagir diretamente com palestrante e os demais participantes.
				</li>
				<li>
					<h3 class="myclass typeface-js">Sentiu falta de algo?</h3>
                    A grade do evento é totalmente aberta. Se você acha que é interessante outro tipo de atividade, você está livre para propor durante o evento.
				</li>
                <li>
                    <center><img src="{{ STATIC_URL }}images/porco-parado.png" width="70%" /></center>
                </li>
			</ul>
        </div>

{% endblock %}
