{% extends "base.html" %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Organizadores</h3>
		</div>
	
		<div id="articles_series">
			<ul>
				<li>
				    <a href="http://twitter.com/alanbraz"><h3 class="myclass typeface-js">Alan Braz</h3></a>
                                    <a href="http://twitter.com/alanbraz"><img width="100" src="http://a0.twimg.com/profile_images/1389550926/cara.JPG"/></a>
				</li>
				<li>
                                    <a href="http://twitter.com/rafajagua"><h3 class="myclass typeface-js">Rafael Camargo</h3></a>
                                    <a href="http://twitter.com/rafajagua"><img width="100" src="http://a0.twimg.com/profile_images/1302718948/Sem_1.png"/></a>
				</li>
				<li>
				    <a href="http://twitter.com/renatorfr"><h3 class="myclass typeface-js">Renato Freire</h3></a>
                                    <a href="http://twitter.com/renatorfr"><img width="100" src="http://a0.twimg.com/profile_images/1116716081/eu.jpeg"/></a>
				</li>
				<li>
				    <a href="http://twitter.com/rennerocha"><h3 class="myclass typeface-js">Renne Rocha</h3></a>
                                    <a href="http://twitter.com/rennerocha"><img width="100" src="http://a0.twimg.com/profile_images/1643981843/renne2.jpg"/></a>
				</li>
				<li>
		                    <a href="http://twitter.com/vitor_q"><h3 class="myclass typeface-js">Vitor Queiroz</h3></a>
                                    <a href="http://twitter.com/vitor_q"><img width="100" src="http://a0.twimg.com/profile_images/1167859252/eu.jpg"/></a>
				</li>
                                <li>
                                    <h3></h3>
                                    <img width="100" src="{{ STATIC_URL }}images/porco-parado.png"/>
                                </li>
            </ul>
        </div>

{% endblock %}
