{% extends "base.html" %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Programa&ccedil;&atilde;o</h3>
		</div>

        <!--Breadcrumbs-->
        <div id="breadcrumbs">
            <a href='/programacao_detalhada'>Veja a programação detalhada</a> | <a href="/talks">lightning talks</a>
        </div>

        <div id="content_in"> 


			<table id="programacao">
                <tr>
                    <td>&nbsp;</td>
                    <th width="25%">Sala 1</th>
                    <th width="25%">Sala 2</th>
                    <th width="25%">Sala 3</th>
                    <th width="25%">Sala 4</th>
                </tr>
                <tr>
                    <td>08h30</td>
                    <td colspan="4"><strong>Credenciamento</strong></td>
                </tr>
                <tr>
                    <td>09h00</td>
                    <td colspan="4"><strong>Abertura (Sala 1)</strong></td>
                </tr>
                <tr>
                    <td>09h30</td>
                    <td><strong><a href="/talks">Lightning Talks</a></strong></td>
                    <td><strong><a href="/programacao_detalhada/#introducao">Introdu&ccedil;&atilde;o aos M&eacute;todos &Aacute;geis</a></strong><br/>Fernando Ultremare</td>
                    <td><strong><a href="/programacao_detalhada/#dojo1">Coding Dojo (Scala)</a></strong></td>
                    <td><strong><a href="/programacao_detalhada/#open_space">Open Space</a></strong></td>
                </tr>
                <tr>
                    <td>11h00</td>
                    <td><strong>Gest&atilde;o &Aacute;gil</strong><br/>Andr&eacute; Nascimento</td>
                    <td><strong><a href="/programacao_detalhada/#requisitos">Requisitos &Aacute;geis</a></strong><br/>Matheus Haddad</td>
                    <td><strong><a href="/programacao_detalhada/#dojo2">Coding Dojo (Lua)</a></strong></td>
                    <td><strong><a href="/programacao_detalhada/#open_space">Open Space</a></strong></td>
                </tr>
                <tr>
                    <td>12h30</td>
                    <td colspan="4"><strong>Almo&ccedil;o</strong></td>
                </tr>
                <tr>
                    <td>13h30</td>
                    <td><strong><a href="/talks">Lightning Talks</a></strong></td>
                    <td><strong><a href="/programacao_detalhada/#qualidade">Qualidade de software: sem balas de prata</a></strong><br/>Jorge Diz</td>
                    <td><strong><a href="/programacao_detalhada/#dojo3">Coding Dojo (Ruby)</a></strong></td>
                    <td><strong><a href="/programacao_detalhada/#open_space">Open Space</a></strong></td>
                </tr>
                <tr>
                    <td>15h00</td>
                    <td><strong>&Aacute;gil como o MacGyver</strong><br/>Luca Bastos</td>
                    <td><strong><a href="/programacao_detalhada/#lean_startup">Lean Startup</a></strong><br/>Victor Hugo</td>
                    <td><strong><a href="/programacao_detalhada/#tdd">Test-Driven Development: seus testes falam; voc&ecirc; os ouve?</a></strong><br/>Mauricio Aniche</td>
                    <td><strong><a href="/programacao_detalhada/#open_space">Open Space</a></strong></td>
                </tr>
                <tr>
                    <td>16h30</td>
                    <td colspan="4"><strong>Coffee-break</strong></td>
                </tr>
                <tr>
                    <td>17h00</td>
                    <td><strong><a href="/talks">Lightning Talks</a></strong></td>
                    <td><strong><a href="/programacao_detalhada/#coach">Coach para times estressados</a></strong><br/>Manoel Pimentel</td>
                    <td><strong><a href="/programacao_detalhada/#dojo4">Coding Dojo (Java)</a></strong></td>
                    <td><strong><a href="/programacao_detalhada/#open_space">Open Space</a></strong></td>
                </tr>
                <tr>
                    <td>18h30</td>
                    <td colspan="4"><strong><a href="/programacao_detalhada/#motivacao">Motiva&ccedil;&atilde;o na Gest&atilde;o 3.0</a></strong><br/>Andr&eacute; Faria</td>
                </tr>
                <tr>
                    <td>19h30</td>
                    <td colspan="4"><strong>Fechamento (Sala 1)</strong></td>
                </tr>
			</table>
        </div>

{% endblock %}
