{% extends "base.html" %}

{% block nav %}
			    	<li><a href="/">Principal</a></li>
			    	<li><a href="/oevento">O evento</a></li>
			    	<li class="current_page_item"><a href="/programacao">Programa&ccedil;&atilde;o</a>
			    	<li><a href="/localizacao">Localiza&ccedil;&atilde;o</a></li>
			    	<li><a href="/inscricoes">Inscri&ccedil;&otilde;es</a></li>
			    	<li><a href="/patrocinadores">Patrocinadores</a></li>
			    	<li><a href="/organizadores">Organizadores</a></li>
{% endblock %}

{% block content %}

		<!--Title-->
		<div id="content_title">
			<h3 class="myclass typeface-js">Programação Detalhada</h3>
		</div>

        <!--Breadcrumbs-->
        <div id="breadcrumbs">
            <a href='/programacao'>Veja a programação resumida</a>
        </div>

	
		<!--Content left part-->
		<div id="content_in">

            <div id="blog_items"> 
 
                <a name="open_space">&nbsp;</a>                   
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Open-Space</h3> 
                        <div class="storycontent">
                            <p>Para alguns, a melhor parte do evento são as "conversas de corredor", quando você começa a bater papo com alguém sobre um assunto interessante, a partir daí as pessoas vão se juntando ao bate-papo e de repente já temos um grupo gerando uma excelente discussão. Resolvemos oficializar a conversa de corredor no Open Space!</p>
                            <p>Teremos disponível durante todo o evento uma sala ampla com um mural visível para todos onde possam ser anotados os temas das discussões e os seus horários. Quem estiver interessado em conversar sobre determinado assunto ou realizar algum tipo de atividade vai até o quadro, escolhe um horário e gruda um post-it dizendo o que quer fazer. Você nem é obrigado a saber com profundidade sobre o assunto, mas apenas interessado em conversar a respeito. Com o tempo esses espaços vão sendo preenchidos e as pessoas podem se juntar aos grupos que lhe interessam. Quando a discussão não estiver mais interessante para você é permitido (e incentivado) que você saia a qualquer momento do meio da conversa. Isso não é considerado falta de educação. É melhor para você, que pode procurar outra atividade no evento que te acrescente mais, e para o grupo, que não se dispersa em conversas paralelas desviando o foco da discussão.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

                <a name="introducao">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Introdu&ccedil;&atilde;o aos M&eacute;todos &Aacute;geis</h3> 
                        <div class="storycontent">
                            <p><small>Fernando Ultremare</small></p>
                            <p>Introdução aos principais conceitos do paradigma de desenvolvimento ágil de software. Será apresentada uma visão geral das origens e bases teóricas dos métodos ágeis, bem como exemplos de sua aplicação no mercado, seus principais benefícios e diferenças com relação às abordagens tradicionais de desenvolvimento.</p>
                            <p><strong>Mini-bio:</strong> <a href="http://twitter.com/feroult">Fernando Ultremare</a> divide seu tempo gerenciando projetos na Dextra Sistemas e atuando como Editor Líder de Agile e Processos no <a href="http://www.infoq.com/br/">InfoQ Brasil</a>. Com 15 anos de experiência, tem liderado projetos de pequeno e grande porte nos mais diversos segmentos do mercado, sendo defensor de métodos e práticas ágeis como meios para formação de equipes altamente funcionais. Começou sua carreira como desenvolvedor de aplicativos de segurança para a plataforma Linux, foi um dos cofundadores da lista Best Of Security BR e formou-se bacharel em Ciência da Computação pela UNICAMP. Também programa em C, Java, Perl e Ruby, entre outras linguagens.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

                <a name="dojo1">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Coding Dojo - Linguagem Scala</h3> 
                        <div class="storycontent">

                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>
				
	            <a name="requisitos">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Requisitos &Aacute;geis</h3> 
                        <div class="storycontent">
                            <p><small>Matheus Haddad</small></p>
                            <p>Este este workshop irá ensinar uma maneira de fazer a análise de negócio de um projeto de software de forma ágil, iterativa e adaptável às mudanças. Serão ensinadas técnicas que compreendem a análise e definição do contexto de um projeto, do cenário atual, do cenário futuro, dos temas, dos requisitos dos usuários (UX), dos releases, das features e das estórias de usuário. Participando deste workshop, você conseguirá definir de forma consistente o Product Backlog de um projeto ágil.</p>
							<p><strong>Mini-bio:</strong> Matheus Haddad é empreendedor, consultor e palestrante internacional na área de gestão de projetos e engenharia de software. É sócio-fundador da Webgoal, empresa que cria produtos web utilizando métodos ágeis de desenvolvimento de software, design thinking e customer development. Possui mais de 10 anos de experiência no desenvolvimento de software, e nos últimos 4 anos tem se especializado em métodos ágeis e no processo de criação de novos produtos. É mestre em Engenharia Elétrica na área de Inteligência Artificial pela FEI (São Bernardo do Campo), pós-graduado em Análise de Sistemas pela FASP (São Paulo), bacharel em Ciência da Computação pela UNIFENAS (Alfenas) e está cursando MBA em Gestão Empresarial na FGV. Na área acadêmica, também atua como professor de cursos de graduação, pós-graduação e MBA nas áreas de tecnologia da informação e negócios.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>
 
                <a name="dojo2">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Coding Dojo - Linguagem Lua</h3> 
                        <div class="storycontent">

                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

 
                <a name="qualidade">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Workshop: Qualidade de software: sem balas de prata</h3> 
                        <div class="storycontent">
                            <p><small>Jorge Diz</small></p>
                            <p>Usuários, desenvolvedores e gestores usam termos chulos quando se referem ao seu software. O que fazer ? Alguns tentam tornar os seus processos aderentes a algum modelo de grife, outros investem em ferramentas caras, muitos aprofundam velhos vícios da gestão de projetos. Boa parte destas iniciativas acaba piorando a situação: não existem soluções simplistas para problemas complexos.</p>
							<p>Estimulando a discussão através de uma série de provocações, apresentaremos modelos, analogias e práticas que podem nos ajudar a entender como melhorar a qualidade do software dentro do contexto de nossas organizações. Não há a pretensão de fornecer soluções prontas, mas a intenção de plantar sementes para a excelência. </p>
                            <p><strong>Mini-bio:</strong> Jorge Diz é desenvolvedor de software na Maps. Fez graduação em Ciência da Computaçãoo e mestrado em Engenharia Elétrica, ambos na UNICAMP. Atua na área de TI há tempo mais que suficiente para ter ouvido muitos xingamentos ao resultado de projetos de software, em empresas de vários portes e ramos de atividade. Entusiasta da agilidade desde o início, vêm procurando a aplicação de seus conceitos para melhorar a qualidade de processos e produtos de software.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

                <a name="dojo3">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Coding Dojo - Linguagem Ruby</h3> 
                        <div class="storycontent">

                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>
				
                <a name="lean_startup">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Workshop: Test-Driven Development: seus testes falam; você os ouve?</h3> 
                        <div class="storycontent">
                            <p><small>Mauricio Aniche</small></p>
                            <p>Desenvolvedores comumente dizem que a prática de TDD fazem com que eles escrevam um código melhor. Mas a grande pergunta é: COMO isso acontece? Neste workshop, discutiremos sobre como efetivamente a prática de TDD guia os desenvolvedores em direção a um projeto de classes melhor. Traga seu notebook; você aprenderá na prática!</p>
                            <p><strong>Mini-bio:</strong> Mauricio Aniche é instrutor e desenvolvedor da Caelum Ensino e Inovação. É também mestre em Ciência da Computação pela Universidade de São Paulo, onde pesquisou justamente sobre a influência da prática de TDD no projeto de classes. Mauricio acredita que a prática de TDD pode sim ajudar desenvolvedores ao longo do processo de desenvolvimento de software, mas não da maneira mágica como frequentemente ouve por aí.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

                <a name="lean_startup">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Workshop: Lean Startup</h3> 
                        <div class="storycontent">
                            <p><small>Victor Hugo</small></p>
                            <p>Produtos incríveis, rios de dinheiro, fama e sua foto na capa de grandes revistas. O sonho de empreendedores atuais está em xeque num mundo cada vez mais competitivo e onde a "nova idéia revolucionária" está difícil de ser encontrada. Como garantir que o tempo e dinheiro investidos na construção de sua empresa sejam empregados de maneira correta? Qual é o melhor método para saber quando se está no caminho certo do sucesso? Quando largar um produto derrotado? O movimento Lean Startup apresenta suas armas: MVP, Ciclo de Aprendizado, Interações, Pivotagem e Customer Development. Você está pronto para aprender e utilizar algumas das novas práticas na construção de produtos inovadores? Este workshop é para você.</p>
                            <p><strong>Mini-bio:</strong> Victor Hugo é desenvolvedor há 12 anos, Harcore Gamer aficionado, escalador e mais recentemente: empreendedor. Trabalhando com métodos ágeis desde 2003, já viu várias empresas falirem. Depois de inúmeras tentativas "in company" de mudança cultural, cansou de trabalhar para os outros e decidiu o óbvio: fazer a própria empresa dar certo. Assim nasceu a Lambda3, empresa multidisciplinar focada em desenvolvimento de software. Victor também é maluco o bastante para acreditar que é possível um mundo sem gerentes. Mais recentemente assumiu, junto à Lambda3, o desenvolvimento do primeiro site de agendamentos online do Brasil: o Go2Doc que já possui investimentos internacionais e segue ajudando a mudar a cara do mercado de saúde no Brasil.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

                <a name="motivacao">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Workshop: Motiva&ccedil;&atilde;o na Gest&atilde;o 3.0</h3> 
                        <div class="storycontent">
                            <p><small>Andr&eacute; Faria</small></p>
                            <p>Pessoas são a parte mais importante de uma empresa, certo? A gestão deve portanto fazer o que for possível para mantê-las ativas, criativas e motivadas. A gestão 3.0 aborda a motivação de um ponto de vista sistemico, e compreende que cada indivíduo é único, e por isso é motivado por desejos intrínsecos diferentes, logo a motivação extrínseca não é suficiente. Neste workshop abordaremos o que os novos estudos sobre motivação podem nos ensinar, aprenderemos algumas práticas para conhecer melhor as pessoas do time e descobrir mais sobre o que pode motivá-los, e faremos um exercício para colocar um pouco dessa teoria em prática.</p>
                            <p><strong>Mini-bio:</strong> André Faria Gomes (<a href="http://twitter.com/andrefaria">@andrefaria</a>) é CIO na Bluesoft em São Paulo, Associated Trainer na Adaptworks. Bacharel em Sistemas de Informação pela FIAP e Black Belt em Lean Seis Sigma pela Fundação Vanzolini. O foco principal de seu trabalho é no desenvolvimento de software, atuando na liderança de equipes, no coaching de métodos ágeis, e no desenvolvimento de projetos Web em diversas linguagens e plataformas. Iniciou sua carreira na TI em 1999, e desde então trabalhou com tecnologias como Oracle, Java, Groovy, Ruby, C++, Php, Asp e Delphi. Atua também como podcaster no Agile Podcast, no Bluesoft Podcast, e no DeveloperTalk.Tv, escreve artigos para revistas e portais de TI, e mantém seu blog <a href="blog.andrefaria.com">blog.andrefaria.com</a>.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

                <a name="dojo4">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Coding Dojo - Linguagem Java</h3> 
                        <div class="storycontent">

                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>
				
                <a name="coach">&nbsp;</a>
                <div class="blog_item"> 
                    <div class="blog_item_text"> 
                        <h3 class="myclass typeface-js">Palestra: Coaching para times estressados</h3> 
                        <div class="storycontent">
                            <p><small>Manoel Pimentel</small></p>
                            <p>Muito trabalho, prazo curto, pouco dinheiro, clientes reclamando e nerds tentando se matar sem sabres de luz - Esse cenário é comum para você?</p>
							<p>Se você atua num ambiente de projeto de desenvolvimento de software, provavelmente já vivenciou, vivencia ou vivenciará um cenário de estresse coletivo de um time. E nessas horas, além de musculatura emocional e muitas cervejas, é possível usar técnicas e ferramentas para ajudar times a passar com mais assertividade por essas turbulências.</p>
							<p>O objetivo dessa palestra é mostrar que a abordagem de Coaching pode ajudar os times rotulados como estressados a desenvolverem uma nova estratégia mental. Através dessa estratégia mental, profissionais podem desenvolver comportamentos mais eficientes nas relações e nos desafios rumo a uma determinada meta. Para isso, essa palestra discorrerá sobre os seguintes temas: Gaps intelectuais, Gaps de valores,  o que é a sindrome do Macho Alpha? Como trabalhar com a autopercepção de uma pessoa? Competitividade entre pares, Teimosias e como Debugar pensamentos e comportamentos.</p>
                            <p><strong>Mini-bio:</strong> Manoel Pimentel Medeiros (<a href="http://twitter.com/manoelp">@manoelp</a>) é Coach e Empreendedor com mais de 18 anos de experiência na área de TI, onde atuou com Coaching e Mentoring  em Agile (Scrum, XP, FDD, Lean/Kanban) para times e líderes de organizações como Bancoob, Sicoob, Oi, GVT, Stefanini,  Adaptworks, Crafters,  Globo.com, Serpro, Petrobras dentre outras. É Diretor Executivo do ICA-TI (Instituto de Coaching Aplicado a TI) e co-founder da RS Franchising Gestão de Marcas, onde continuamente desenvolve novos modelos de negócios, novos produtos e novos serviços.</p>
                        </div> 
                    </div> 
                    <div class="clearboth"></div> 
                </div>

				
            </div>
        </div>

{% endblock %}
